<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<link rel="stylesheet" href="../styles/navBar.css">
</head>
<body>
	<header>
		<h2 class="logo">TrunsRoute</h2>
		<nav class="navegation">
			<a href="#">Inicio</a> <a href="#">Información</a> <a href="#">Servicios</a>
			<a href="#">Contactos</a>

			<button class="btn" onclick="">Iniciar Sesión</button>
		</nav>
	</header>

</body>

</html>